
body {
    font-family: Arial;
    margin: 0;
    width: 100vw;
    height: 100ch;
    background: #a5822f;
  }

  header {
    padding: 60px;
    text-align: center;
    background: #a5822f;
    color: white;
    font-size: 30px;  
    animation: rainbow 5s ease-in-out 0.5s 50;
  }



  @keyframes rainbow {
    66% {
      color: rgba(249, 189, 8, 0.916);
    }
  
  }
  
  

  nav {
    background: rgb(245, 244, 194);
    padding: 15px;
    font-size: 15px;
  }

     ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    text-align:center;
    align-items: center;
    justify-items: center;
    overflow: hidden;
  }

  li{
    flex:content;
  }



  #CONTINER{
    
    display: grid;



      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

      background-color: blanchedalmond;

  }

#NUM{

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end: 2;
  margin: 15px;
  padding: 250px;

  background: url(../static/image.jpg);
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in;

}


#NUM1 {
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:2 ;
  grid-row-end: 3;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

#NUM2 {
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:3;
  grid-row-end: 4;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

#NUM3 {
  font-size: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end: 4;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

#NUM4 {
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:4;
  grid-row-end: 5;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

#NUM5 {
  font-size: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:4;
  grid-row-end: 5;
padding: 20px 200px;   


background: url(/image.jpg);
background-size: cover;
  

}

#num6{
   font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:5;
  grid-row-end: 6;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;

}


/*    -----contact------    */


.labell{
margin: 50px 50px;
text-align: center;
border: 1.5px solid black;
background-color: rgb(218, 181, 181);
  }
  
 a{
color: #000;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
background-color:#7d6600;
padding: 15px 15px;
border-radius: 5px;
}

/*    -----contact------    */

.active{
background-color: antiquewhite;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: rgb(235, 237, 191);
  }

  #CONTINER {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  }


#NUM{

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:1;
  grid-row-end: 1;

}


#NUM1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:2;
  grid-row-end:2;
}

#NUM2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:3;
  grid-row-end: 3;
;
}

#NUM3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:4;
  grid-row-end: 4;

}

#NUM4 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:5;
  grid-row-end: 5;
 
}

#NUM5 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:6;
  grid-row-end: 6;
  
}


  #num6{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:7;
    grid-row-end:7 ;
  }

 
}