<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/homework2.css">
    <script src="../static/inin.js"></script>
</head>


<body>



    <header>
        <h1>DOG IS A FRIEND</h1>
    </header>


    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="..//templates/Home Page.html">Home</a>
                </li>
                <li>
                    <a href="../templates/Contact.html">Contact</a>
                </li>
            
            </ul>
        </nav>
    </div>


    <div class="con">
        <div class="labell">

           <h2>אנא מלאו את פרטיכם ונמצא לכם את החבר המושלם :</h2> <br>
            <label for="Full name">שם מלא</label><br>
            <input type="text" maxlength="20"><br>
            <label for="Email">Email</label><br>
            <input type="Email"><br>
            <label for="Phone Number">מספר טלפון</label><br>
            <input type="password" maxlength="10"><br>
            <label for="more details">מידע נוסף שתרצו שנדע:</label><br>
            <textarea name="more details" cols="30" rows="6"></textarea><br>
            <label for="choose">choose if you agree to the policy and terms</label><br>
            <input type="radio" name="choose">I read and accept
            <input type="radio" name="choose">I don't agree
            <br>
            <button onclick="send()">send</button>
            <p id="send"> </p>
        </div>
    </div>


  
</body>

</body>

</html>