<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/homework2.css">
    <script src="../static/inin.js"></script>

</head>

<body>

    <header>
        <h1>DOG IS A FRIEND</h1>
    </header>


    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="../templates/Home Page.html">Home</a>
                </li>
                <li>
                    <a href="../templates/Contact.html">Contact</a>
                </li>
            
            </ul>
        </nav>
    </div>




    <DIV id="CONTINER">

        <div ID="NUM">
            
        </div>

        <div ID="NUM1">
            
            <h1>Choose a Dog</h1>
            אימוץ כלבים הוא תהליך מורכב. כדי שהאימוץ יצליח וכדי שהכלב החדש ישתלב בצורה הטובה ביותר בחיים שלכם, עליכם
            להגיע
            למספר החלטות בנוגע לסוג, גודל, מין וגיל הכלב שאתם רוצים לאמץ. כמו כן, עדיף שתעשו את ההחלטה בבית, ביחד עם
            הילדים
            אם ישנם. זאת, כדי שכאשר תלכו ליום אימוץ כלבים לא תתבלבלו מהשפע הרב של זנבות מכשכשים וכלבים מכל הגדלים,
            הגילאים
            והסוגים, שרק רוצים שתיקחו אותם הביתה. החלטה מראש שהתקבלה ביחד עם הילדים תעזור לכם לעשות קצת סדר בבלגן והכי
            חשוב
            הילדים ידעו עם איזה כלב לאימוץ הם אמורים לחזור הביתה,
            כך שגם להם יהיה יותר קל לבחור.
        </div>


        <DIV id="NUM2">

            <h2> אז איך נחליט ונבחר כלב לאימוץ?</h2>
            <h3>1. גור כלבים או כלב בוגר יותר?</h3>
            <p>אם יש לכם ניסיון בגידול כלבים אתם בטח יודעים שאת גור הכלבים צריך לחנך לעשיית צרכים בחוץ ולהתנהגות נאותה,
                ועד
                שהוא
                לומד את הנושא לעומק, צריך לנקות אחריו פעמים רבות במהלך היום. גור כלבים עד גיל 8 חודשים מצמיח שיניים ולכן
                הוא
                לועס כמעט כול דבר שנקרה בדרכו, דבר שלפעמים יכול לפגוע בריהוט, נעליים, צעצועים חשובים וכדומה. גורי כלבים
                נוהגים
                לבכות בלילות במיוחד אם מנסים לחנך אותם לישון לבד.אבל לעומת כל המינוסים שהזכרנו לעיל, גורי כלבים הם
                היצורים
                החמודים ביותר בעולם ואין תחליף להרגשה החמימה שתמלא אתכם ברגע שהם יירדמו בידיים שלכם שבעים ו<span
                    style="border: 2px solid rgb(212, 156, 71)">מאושרים</span>.</p>

        </DIV>


        <DIV id="NUM3">
            <h3>2. כלב ממין זכר או נקבה?</h3>
            <p>ישנם גזעי כלבים שבהם ניתן להבחין בהבדלי התנהגות בין זכרים לנקבות. אצל כלבים מסוג פומרניין, למשל, זכרים
                נובחים
                יותר מנקבות בדרך כלל.

                אם ההחלטה היא בין כלב בוגר מסורס לעומת כלבה בוגרת מעוקרת, ההחלטה פחות משמעותית מכיוון שהסירוס או העיקור
                בדרך
                כלל
                מרגיעים את הכלב או הכלבה, והופכים אותם לפחותת תוקפניים כלפי בני מינם ויותר נינוחים בתוך הבית.</p>

        </DIV>

        <DIv id="NUM4">
            <h3>3. קטן או גדול?</h3>
            <p>בהחלטה לגביי גודל הכלב, אנשים רבים נוטים לחשוב שכלבים קטנים הם רגועים יותר ולכן הם בוחרים בכלב קטן, אבל
                הרבה
                פעמים אין קשר בין גודל הכלב להתנהגות שלו ולכן ההחלטה לגביי גודל הכלב צריכה להיות מושפעת מגודל הדירה
                (לכלב
                גדול
                יכול להיות מעט צפוף בדירת 2 חדרים) ומהמקום שהכלב ילון בו (כלבים קטנים יותר רגישים לקור ואינם מתאימים
                לשינה
                בחצר
                או בגינה).</p>

        </DIv>


        <DIV id="NUM5">
            <p  id="change">
                Do you want suggeststion for a name to your dog?
            </p>
            <button onclick="showNames()">  click me </button>
        </DIV>


        <div id="num6">

            <footer>
                <h2>כדי שמשפחתך והכלב שתבחר יצליחו להסתדר וליהנות זה מחברתו של זה לאורך זמן, יש צורך במחשבה ובתכנון
                    מקדים.
                    <br>איזה כלב מתאים לאורך חייך?
                </h2> 
                <h2>אם אתה רוצה לאמץ חבר צור איתנו קשר כאן:</h2>
                <a href="../templates/Contact.html"> Contact </a> <br>
            </footer>

        </div>


    </div>

</body>

</html>

